<header>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <!-- nav bar -->
  <nav class="flex items-center w-full h-24 bg-gray-800 px-8 sm:px-0 fixed top-0 z-10">
    <div class="ml-10 w-screen flex items-center justify-between py-4 mx-auto">
      <%= link_to root_path do %>
        <div class="text-3xl font-extralight text-gray-100 flex">
          <svg class="w-8 pt-1 mr-1" viewBox="0 0 400 400" version="1.1"><defs></defs><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="logo_white" fill="#FFF"><g id="Page-1"><polygon id="Fill-1" points="61.876 330 247.5 330 247.5 309.375 61.876 309.375"></polygon><polygon id="Fill-2" points="0 268.125 330 268.125 330 247.5 0 247.5"></polygon><polygon id="Fill-3" points="123.75 206.25 299.063 206.25 299.063 185.625 123.75 185.625"></polygon><polygon id="Fill-4" points="30.938 144.375 206.25 144.375 206.25 123.75 30.938 123.75"></polygon><polygon id="Fill-5" points="0 82.5 330 82.5 330 61.875 0 61.875"></polygon><polygon id="Fill-6" points="82.5 20.625 268.125 20.625 268.125 0 82.5 0"></polygon></g></g></g></svg>
          <span>KOTOBA</span><span class="ml-1 font-extrabold">WALETTE</span>
        </div>
      <% end %>
      <!-- ドロップダウンメニュー＠未ログイン -->
      <div class="flex items-center mr-10">
        <!-- component -->
        <div class="group">
          <button class="outline-none focus:outline-none flex items-center bg-gray-800">
            <div class="flex">
              <div class="flex flex-col my-auto font-extrabold text-gray-100">
                <div class="flex mx-auto my-auto mt-1">
                  ログイン
                </div>
              </div>
            </div>
            <svg class="ml-3 h-6 w-6 transform group-hover:-rotate-180 transition duration-150 ease-in-out" viewBox="0 0 20 20"stroke="white"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </button>
          <ul class="right-10 w-auto bg-white rounded-lg transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top">
            <%= link_to new_user_session_path do%>
              <li class="font-medium">
                <div class="flex p-2 transform transition-colors duration-200 border-r-4 border-transparent hover:border-yellow-500 tracking-widest">
                  <svg class="w-6 mr-3" viewBox="0 0 64 64" stroke-width="4" stroke="#1F2937" fill="none" ><path d="M33.16 21.45l9.91 9.91-9.91 9.91M43.07 31.36H6.72"></path><path d="M22.3 37.69v13.76a2.8 2.8 0 002.8 2.81h25.23a2.8 2.8 0 002.8-2.81V11.27a2.8 2.8 0 00-2.8-2.8H25.1a2.8 2.8 0 00-2.8 2.8v13.24"></path></svg>
                  ログイン
                </div>
              </li>
            <% end %>
            <%= link_to new_user_registration_path do%>
              <li class="font-medium">
                <div class="flex p-2 transform transition-colors duration-200 border-r-4 border-transparent hover:border-yellow-500 tracking-widest">
                  <svg class="w-6 mr-3" viewBox="0 0 64 64" stroke-width="3" stroke="black" fill="none"><circle cx="31.89" cy="22.71" r="5.57"></circle><path d="M43.16 43.74a11.28 11.28 0 00-11.27-11.27h0a11.27 11.27 0 00-11.27 11.27z"></path><circle cx="48.46" cy="22.71" r="5.57"></circle><path d="M46.87 43.74h12.86a11.27 11.27 0 00-11.27-11.27h0a11.24 11.24 0 00-5.29 1.32"></path><circle cx="15.54" cy="22.71" r="5.57"></circle><path d="M17.13 43.74H4.27a11.27 11.27 0 0111.27-11.27h0a11.24 11.24 0 015.29 1.32"></path></svg>
                  メンバー登録
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- nav bar -->
    <style>
      /* since nested groupes are not supported we have to use
         regular css for the nested dropdowns
      */
      li>ul                 { transform: translatex(100%) scale(0) }
      li:hover>ul           { transform: translatex(101%) scale(1) }
      li > button svg       { transform: rotate(-90deg) }
      li:hover > button svg { transform: rotate(-270deg) }
      
      /* Below styles fake what can be achieved with the tailwind config
         you need to add the group-hover variant to scale and define your custom
         min width style.
      	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
      	 for implementation with config file
      */
      .group:hover .group-hover\:scale-100 { transform: scale(1) }
      .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
      .scale-0 { transform: scale(0) }
      .min-w-32 { min-width: 8rem }
    </style>
  </header>
